@import url('https://fonts.googleapis.com/css?family=Roboto: 100,200,300,400,500,600,700');

/*    ------------------------Colours?   */


header {
    margin: 0;
    background-color: #006db3;
    padding: 6px;
    min-height: 100px;
    position: fixed;
    position: sticky;
    top: 0;
    z-index: 30;
    }

.heading {
    margin-left: 30px;
}

.name {
    font-family: "Roboto" , sans-serif;
    font-weight: 100;
    font-size: 50px;
    margin-top: 20px;
    color: #fff;
    letter-spacing: 10px;
    text-align: center;
}  

.title {
    font-family: "Roboto" , sans-serif;
    font-weight: 100;
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #fff;
    letter-spacing: 10px;
    text-align: center;
}

#home {
    color: #fff;
}

#about {
    color: #fff;
}

#portfolio {
    color: #fff;
}
#contact {
    color: #fff;
}
/*
.bg-primary {
    color: #fff;
} */

/*    ------------------------Navigation   */




/* BOUNCE WIPES REQUIRE A 5% RADIUS TO MATCH THAT OF NAVIGATION */


/*    ------------------------Navigation styles   */

.ui-menu-color-home {
    background-color: #ffc107;
    color:#006db3;
    letter-spacing: 6px;
    border-radius: 5%;
}

.ui-menu-color-about {
    background-color: #ffc107;
    color:#006db3;
    letter-spacing: 6px;
    border-radius: 5%;
}

.ui-menu-color-portfolio {
    background-color:#ffc107;
    color:#006db3;
    letter-spacing: 6px;
    border-radius: 5%;
    }

.ui-menu-color-contact {
    background-color: #ffc107;
    color:#006db3;
    letter-spacing: 6px;
    border-radius: 5%;
    }

.ui-menu-color-download {
    background-color: #ffc107;
    color:#006db3;
    letter-spacing: 6px;
    border-radius: 5%;
}

.list-inline-item:not(:last-child)
{
    margin:0%;
}

.menucontainer {
    font-size: 0px;
    width: 100%;
}

#nav {
    margin: 0%;
    }

#nav li {
    font-size: 16px;
    padding: 0;
    color: #fff;
}


.menuitem {
    height: 100%;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color:#006db3;;
    height: 60px;
}

.menuitem a i {
    padding-top: 10px;
    display: block;
    font-size: 14px;
}

menuitem span {
    display: block;
    width:100%;
    padding-top: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 2px;
}

/* Alternate navigation colours 30/01/2020 remove this comment and old navigation if successful - update .bg-light and .nav-links dont work */

.bg-primary {
    background-color: #ffc107;
    color: #006cb3
}

.nav-links {
    color: #006cb3;
}

/*    ------------------------Section   */

/* section {
    margin: 0;
    background-color: #039be5;
    padding: 6px;
    color: #fff;
} */ 

/*    ------------------------page background images   */

.home-background-image {
    background: url("../images/tor2009-1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 1000px;
    transition: all 3.5s ease-out;
    -moz-transition: all 3.5s ease-out;
    -webkit-transition: all 3.5s ease-out;
}

.about-background-image {
    background: url("../images/roots-1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 1000px;
    transition: all 3.5s ease-out;
    -moz-transition: all 3.5s ease-out;
    -webkit-transition: all 3.5s ease-out;
}


.portfolio-background-image {
    background: url("../images/bwroof-1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 1000px;
    transition: all 3.5s ease-out;
    -moz-transition: all 3.5s ease-out;
    -webkit-transition: all 3.5s ease-out;
}

.contact-background-image {
    background: url("../images/persephone.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 1000px;
    transition: all 3.5s ease-out;
    -moz-transition: all 3.5s ease-out;
    -webkit-transition: all 3.5s ease-out;
}



/*    ------------------------H4 page headings   */

.page-titles {
    font-family: "Roboto" , sans-serif;
}



/*    ------------------------Footer   */

footer {
    font-family: "Roboto" , sans-serif;
    font-size: 15px;
    text-align: center;
    margin: 0;
    background-color: #006db3;
    padding: 12px;
    color:#fff;
    min-height: 100px;
    position: sticky;
    bottom: 0;
}

.copyright {
    text-align: center;
}

/*    ------------------------Hover .css   */

/*   .hvr-bounce-to-top:before {
    background: rgba(add numbers here for alternate color of hover state);
    height: 120px; }   */

    h1,
    h2,
    h3,
    h4,
    h5,
    h6, {
        margin: 0px;
    }

.hvr-sweep-to-bottom:before:hover {
    /* back ground change here if required currently default blue same as BG colour */
    background: rgba(6, 2, 252, 0.2);
    border-radius: 20%;
    height: 120px;
    /* this not working and require a fix still */
}

/*   .cv-pdf i Doesn't appear to be working remove this note when fixed. width, height, padding, 
border-radius all added with no change   */

    .cv-pdf i {
        width: 32px;
        height: 32px;
        padding: 12px 0;
        font-size: 18;
        text-align: center;
        padding-left: 5px;
        color:  #ffc107;
        transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -webkit-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
    }
/* below link can be removed as not working */
    .cv-pdf i:hover {
        color: #d50000;
    }

    .social-links li a i {
        width: 32px;
        height: 32px;
        padding: 12px 0;
        border-radius: 20%;
        font-size: 13px;
        line-height: 7px;
        text-align: center;
        color: #039be3;
        background:#ffc107;
        transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -webkit-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
    }

    .social-links li a i:hover {
        background: #d50000
    }

    /*    ------------------------ Web form   */

    .contact-heading {
        font-family: "Roboto" , sans-serif;
        font-weight: 300;
        margin-top: 25px;
        margin-bottom: 20px;
    }

    .center-form {
        padding-top: auto;
        margin: 0 auto;
        max-width: 70%;
        text-align: center;
    }

    button[type="submit"] {
        margin-top: 15px;
        margin-bottom: 20px;
        color: #006db3;
        background-color: #ffc107;
    }

    /*    ------------------------ Media Queries   */

    @media(min-width: 992px) {
        .center-form {
     padding-top: 30px;
     min-height: 240px;
        margin: 0 auto;
        max-width: 50%;
    }
    }

  .row-table {
      display: table;
  }

  .section-column {
      display: table-cell;
      padding: 0 30px 30px;
      float: none;
  }

  .section-heading {
      font-family: "Roboto" , sans-serif;
      font-weight: 300;
      margin-top: 25px;
      margin-bottom: 40px;
      color: #fff;
  }
/*
  .section h5 i {
      padding:25px;
      color: #fff;
  } */

img {
    width: 320px;
   /* border: 6px solid #006db3; */
}

body {
    font-size: 24px;
    z-index: 20;
    position: relative
}

